.minutoAtual {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: pink;
    color: black;
    margin: 16px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
  }
  